<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>COMPARTIR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-list>
      <a href="whatsapp://send?text=TE INVITO A QUE MEJORES TUS CONOCIMIENTOS CON RECIDENCIOMETRO  en *PLAY STORE*:https://play.google.com/store/apps/details?id=com.cienso.recidenciometro&pcampaignid=web_share "
        data-action="share/whatsapp/share" target="_blank">
        <ion-item>
          <span>
            <ion-fab-button color="success">
              <ion-icon name="logo-whatsapp" style="color: #fff;"></ion-icon>
            </ion-fab-button>
          </span>
          <span
            style="margin-left: 3% ; color: #046e09; text-transform: uppercase; text-decoration: none; font-weight: bold;">
            whatsapp
          </span>
        </ion-item>
      </a>
    </ion-list>
  </ion-card>

</ion-content>
